---
import Layout from '@/layouts/default.astro';

const title = "COLORMONO's uses and preferences";
const description = "COLORMONO's uses and preferences for building websites and web applications.";

const colormonoTech: Array<{title: string; desc: string; href: string}> = [
  {
    title: 'Astro',
    desc: 'Build fast websites, faster.',
    href: 'https://astro.build',
  },
  {
    title: 'Tailwind CSS',
    desc: 'Rapidly build modern websites without ever leaving your HTML.',
    href: 'https://tailwindcss.com',
  },
  {
    title: 'Markdown',
    desc: 'Simple and easy-to-use markup language.',
    href: 'https://www.markdownguide.org/',
  },
  {
    title: 'MDX',
    desc: 'Markdown for the component era.',
    href: 'https://mdxjs.com/',
  },
  {
    title: 'Satori',
    desc: 'Generating png Open Graph images for blog posts.',
    href: 'https://github.com/vercel/satori',
  },
  {
    title: 'Pagefind',
    desc: 'A fully static search library.',
    href: 'https://pagefind.app/',
  },
  {
    title: 'Astro Icon',
    desc: 'An easy to use Icon component for Astro.',
    href: 'https://github.com/natemoo-re/astro-icon#readme',
  },
  {
    title: 'Expressive Code',
    desc: 'Highly customisable source code & syntax highlighter',
    href: 'https://expressive-code.com/',
  },
];
---

<Layout title={title} description={description}>
  <div class="container">
    <h1 class="title">About</h1>
    <p>This is the about page.</p>

    <section class="mt-16">
      <h2 class="title mb-4 text-xl">Technologies</h2>
      <dl class="space-y-4">
        {
          colormonoTech.map(({href, title, desc}) => (
            <div class="flex flex-col gap-2 md:flex-row">
              <dt>
                <span class="flex">
                  <a href={href} target="_blank" rel="noopener noreferrer" class="cactus-link">
                    {title}
                  </a>
                  :
                </span>
              </dt>
              <dd>{desc}</dd>
            </div>
          ))
        }
      </dl>
    </section>
  </div>
</Layout>
