---
import {format} from 'date-fns';
import Label from './ui/label.astro';
import {slugify} from '@utils';

const {item, sameHeight} = Astro.props;
---

<article class=`${Astro.props.class}`>
  <a
    href={`/lab/${item.slug}/`}
    class="group relative flex flex-col items-center gap-4 rounded-lg bg-white px-4 py-6 dark:bg-black"
  >
    <h3>{item.data.title}</h3>
    <figure class="overflow-hidden rounded-md">
      <img
        src={item.data.thumbnail || '/static/not-found.png'}
        alt={item.data.title}
        class={`${sameHeight ? 'aspect-square' : ''} w-full h-full object-cover transition-transform group-hover:scale-105 duration-300`}
      />
    </figure>

    <div class="text-center text-base text-muted-foreground">
      {item.data.description && <p class="mx-4 text-center">{item.data.description}</p>}
      <time class="mt-3 block text-sm">
        {format(item.data.date, 'yyyy')}
      </time>
    </div>
  </a>

  {
    item.data.tags && item.data.tags.length > 0 && (
      <div class="mt-4 flex flex-wrap gap-2">
        {process.env.NODE_ENV === 'development' && item.data.draft ? <Label variant="primary">DRAFT</Label> : null}
        {item.data.tags.map((tag: string) => (
          <a href={`/tags/${slugify(tag)}`} class="opacity-40 transition-opacity hover:opacity-100">
            <Label key={tag}>{tag}</Label>
          </a>
        ))}
      </div>
    )
  }
</article>
