---
import type {CollectionEntry} from 'astro:content';
import Layout from '@layouts/default.astro';
import FormattedDate from '@components/FormattedDate.astro';
import Article from '@components/Article.astro';
import {slugify} from '@utils';
import {format} from 'date-fns';
import LatestPosts from '@components/LatestPosts.astro';
import WorksList from '@components/WorksList.astro';

type Props = CollectionEntry<'lab'>['data'];

const {title, description, date, updatedDate, heroImage, tags} = Astro.props;
---

<Layout {...Astro.props} title={title} description={description}>
  <article class="m-4 lg:m-20 lg:mt-0">
    {
      heroImage && (
        <figure class="mx-auto aspect-video max-h-[75vh] overflow-hidden rounded-lg bg-neutral-200 dark:bg-black">
          <img
            src={heroImage}
            alt=""
            loading="eager"
            decoding="async"
            class="h-full w-full object-contain transition-opacity duration-300 group-hover:opacity-70"
          />
        </figure>
      )
    }

    <section class="container">
      <header class="flex flex-col gap-2 py-10 text-center">
        <h1 class="text-5xl">{title}</h1>
        <time class="my-4 block text-muted-foreground">
          {format(date, 'yyyy')}
        </time>
      </header>

      <Article class="mx-auto">
        <slot />

        {
          updatedDate && (
            <div>
              <hr />
              <div class="date">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            </div>
          )
        }
      </Article>

      {
        tags?.length > 0 ? (
          <footer class="mx-auto mt-20 max-w-[65ch]">
            <div class="flex flex-row flex-wrap items-center gap-4">
              <h2 class="text-xl uppercase">Tags</h2>

              {tags.map((tag) => (
                <a
                  href={`/tags/${slugify(tag)}/`}
                  class="rounded-full border border-border px-5 py-1.5 transition-colors hover:bg-border"
                >
                  {tag}
                </a>
              ))}
            </div>
          </footer>
        ) : null
      }
    </section>
  </article>

  <!-- Create different layouts to show worksList first just for works  -->
  <LatestPosts />
  <WorksList />
</Layout>
